html {
    scroll-behavior: smooth;
    min-height: 100vh;
}

body {
    margin: 0px auto;
    position: relative;
    box-sizing: border-box;
    min-height: 100vh;
    min-width: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header {
    position: absolute;
    z-index: 1;
    width: 75%;
    left: 25%;
    height: 100px;
    background: linear-gradient(180deg, #006eff, #ffffff);
}

ul {
    padding-inline-start: 0px;
}

li {
    list-style-type: none;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0 50px;
}

.menu a {
    position: relative;
    text-decoration: none;
    font-size: 20px;
    line-height: 60px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.menu a:hover,
.menu a:active,
.menu a:focus {
    color: #006eff;
}

aside {
    position: relative;
    min-height: 1px;
}

aside {
    width: 25%;
    display: block;
    background: linear-gradient(90deg, #006eff, #98c5ff);
}

.left_side {
    position: sticky;
    top: 0px;
}

.left_side img {
    width: 100%;
}

.contacts {
    color: #fff;
    font-size: 20px;
    padding: 0 20px;
}

.contacts p {
    text-align: center;
    letter-spacing: 2px;
    margin: 0px;
}

.contacts ul {
    margin-top: 0px;
}

.contacts a {
    color: #fff;
    font-size: 20px;
    text-align: center;
    display: block;
    text-decoration: none;
    margin: 4px 0;
}

.contacts-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 33%;
}

.contacts div a {
    display: inline-block;
}

h1 {
    font-size: 28px;
    letter-spacing: 10px;
    margin: 10px 0px;
    text-transform: uppercase;
    text-align: center;
}

main {
    width: calc(75% - 100px);
    display: block;
    padding: 50px 50px 0px;
}

main>section {
    padding: 20px 0px;
    border-bottom: double #e6e6e6;
}

main>section:last-child {
    border: none;
    margin-bottom: 20px;
}

.row {
    display: flex;
    margin: 15px -30px 15px;
}

.row p {
    margin: 0px;
}

#summary {
    padding-top: 50px;
}

.past_me,
.future_me {
    padding: 0px 30px;
    width: 50%;
}

.past_me p,
.future_me p {
    text-align: justify;
}